@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 210 40% 96.08%;
    --foreground: 334 55% 1%;
    --muted: 214.29 31.82% 91.37%;
    --muted-foreground: 334 9% 37%;
    --popover: 334 62% 100%;
    --popover-foreground: 334 55% 1%;
    --card: 334 62% 100%;
    --card-foreground: 334 55% 1%;
    --border: 334 5% 95%;
    --input: 334 5% 95%;
    --primary: 242.93 100% 67.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.75 20.25% 69.02%;
    --secondary-foreground: 334 0% 100%;
    --accent: 214.29 31.82% 91.37%;
    --accent-foreground: 334 20% 22%;
    --destructive: 348.37 78.4% 49.02%;
    --destructive-foreground: 18 0% 100%;
    --ring: 228.33 94.74% 62.75%;
    --chart-1: 242.93 100% 67.84%;
    --chart-2: 213.75 20.25% 69.02%;
    --chart-3: 214.29 31.82% 91.37%;
    --chart-4: 213.75 20.25% 72.02%;
    --chart-5: 242.93 103% 67.84%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 51% 1%;
    --foreground: 0 35% 97%;
    --muted: 180 27% 13%;
    --muted-foreground: 180 6% 66%;
    --popover: 0 51% 1%;
    --popover-foreground: 0 35% 97%;
    --card: 0 51% 2%;
    --card-foreground: 0 35% 98%;
    --border: 0 8% 12%;
    --input: 0 8% 12%;
    --primary: 0 65% 33%;
    --primary-foreground: 0 65% 93%;
    --secondary: 180 65% 33%;
    --secondary-foreground: 0 0% 100%;
    --accent: 180 65% 33%;
    --accent-foreground: 0 0% 100%;
    --destructive: 17 96% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 0 65% 33%;
    --chart-1: 0 65% 33%;
    --chart-2: 180 65% 33%;
    --chart-3: 180 65% 33%;
    --chart-4: 180 65% 36%;
    --chart-5: 0 68% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
