@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 267 44% 98%;
    --foreground: 267 62% 1%;
    --muted: 27 16% 85%;
    --muted-foreground: 27 12% 40%;
    --popover: 267 44% 98%;
    --popover-foreground: 267 62% 1%;
    --card: 267 44% 98%;
    --card-foreground: 267 62% 1%;
    --border: 267 12% 90%;
    --input: 267 12% 90%;
    --primary: 267 51% 39%;
    --primary-foreground: 267 51% 99%;
    --secondary: 27 51% 39%;
    --secondary-foreground: 0 0% 100%;
    --accent: 147 51% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 97% 21%;
    --destructive-foreground: 4 97% 81%;
    --ring: 267 51% 39%;
    --chart-1: 267 51% 39%;
    --chart-2: 27 51% 39%;
    --chart-3: 147 51% 39%;
    --chart-4: 27 51% 42%;
    --chart-5: 267 54% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 267 45% 4%;
    --foreground: 267 10% 97%;
    --muted: 27 16% 15%;
    --muted-foreground: 27 12% 60%;
    --popover: 267 45% 4%;
    --popover-foreground: 267 10% 97%;
    --card: 267 45% 4%;
    --card-foreground: 267 10% 97%;
    --border: 267 12% 10%;
    --input: 267 12% 10%;
    --primary: 267 51% 39%;
    --primary-foreground: 267 51% 99%;
    --secondary: 27 51% 39%;
    --secondary-foreground: 0 0% 100%;
    --accent: 147 51% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 97% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 267 51% 39%;
    --chart-1: 267 51% 39%;
    --chart-2: 27 51% 39%;
    --chart-3: 147 51% 39%;
    --chart-4: 27 51% 42%;
    --chart-5: 267 54% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
